*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    color: #fff;
}

*::selection{
    background-color: rgb(216, 0, 0);
    color: #fff;
}

body{
    font-family: 'Poppins',sans-serif;
    background-color: rgb(27, 27, 27);
}

.container{
    height: 94vh;
    background-image: linear-gradient(to top,rgba(0, 0, 0, 0.567),rgba(0, 0, 0, 0.824)),url('./images/bg.jpg');
}

.nav-bar{
    height: 10vh;
    background-color: rgba(95, 180, 255, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.img-logo{
    width: 12%;
    cursor: pointer;
    position:relative;
    left: -13%;
}

.btn-signin{
    border: 0;
    outline: 0;
    background-color: #ff1e1e;
    color: white;
    padding: 8px 20px;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s;
    font-weight: bold;
    position: relative;
   right: -12%;
}
.btn{
    cursor: pointer;
    transition: all .5s;
}
.btn:hover{
    background-color: #bf0000;
}

.content{
    /* background-color: #ff1e1e00; */
   margin: auto;
   display: flex;
   flex-direction: column;
   position: relative;
   top: 25%;

}

.content-head{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.content-head h1{
    font-size: 48px;
    font-weight: 800;
    text-align:center;
}
.para1{
    font-size: 24px;
    font-weight: 400;
    margin-top: 1%;
    text-align:center;
}

.para2{
    font-size: 20px;
    font-weight: 400;
    margin-top: 1%;
    text-align:center;
}
::placeholder{
    color: rgb(150, 150, 150);
}
/* .user-data{
    background-color: bisque;
} */
.input-email{
    padding: 16px 8px;
    width: 105%;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border:1px solid rgba(255, 255, 255, 0.534);
    background-color: rgba(0, 0, 0, 0.554);
    /* outline:1px solid rgb(255, 255, 255); */
    outline: none;
    display: inline-block;
    left: -42%;
    position: relative;
}

.btn-email{
    border: 0;
    outline: 0;
    background-color: #ff1e1e;
    color: white;
    padding: 12px 40px;
    width: 62%;
    font-size: 20px;
    border-radius: 5px;
    position: relative;
    top: -55px;
    left: 66%;
    display: inline-block;
}

.user-data{
    width: 100vw;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: center;
    margin-top: 2%;
    align-items: center;

}


@media screen and (min-width:448px) and (max-width:650px){
    .nav-bar{
        height: 5vh;
        padding: 25px;
    }
   

    .btn-signin{
        padding: 7px 18px;
        font-size: 10px;
    }

    .img-logo{
        width: 100px;
    }

    .content-head h1{
        font-size: 30px;
        font-weight: 800;
        text-align:center;
    }
    .para1{
        font-size: 20px;
        font-weight: 400;
        margin-top: 5%;
        text-align:center;
    }
    
    .para2{
        font-size: 16px;
        font-weight: 400;
        margin-top: 5%;
        text-align:center;
    }

    .input-email{
        position: relative;
        left: 20%;
        padding: 10px 6px;
    }

    .btn-email{
        display: block;
        position: relative;
        left: 25%;
        margin-top: 5px;
        padding: 3px 2px;
        width: 85%;
        top: 5%;
        font-size: 15px;
    }

    .user-data{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: auto;
        flex-direction: column;
        
    }
}

/* @media screen and (min-width:488px) and (max-width:650px){

} */

@media screen and (min-width:200px) and (max-width:487px){

    .nav-bar{
        height: 2vh;
        padding: 15px;
    }

    .img-logo{
        width: 68px;
        left: -2%;
    }

    .btn-signin{
        padding: 4px 12px;
        font-size: 10px;
        right: 1%;
    }
    .content{
        top: 10%;
    }
    .content-head h1{
        font-size: 25px;
        font-weight: 800;
        text-align:center;
    }
    .para1{
        font-size: 20px;
        font-weight: 400;
        margin-top: 5%;
        text-align:center;
    }
    
    .para2{
        font-size: 16px;
        font-weight: 400;
        margin-top: 5%;
        text-align:center;
    }

    .user-data{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: auto;
        flex-direction: column;
    }

    .input-email{
        display: inline-flex;
        position: relative;
        left: 0.5%;
        padding: 11px 0px;
        word-wrap: break-word;
    }

    .btn-email{
        padding: 5px 2px;
        position: relative;
        margin-top: 5px;
        left: 28%;
        top: 1%;
        font-size: 12px;
        display: block;
        width: 45%;
    }

    nav{
        padding: 5px 3px;
    }
}



@media screen and (min-width:50px) and (max-width:250px){
    .container{
        width: 100vw;
    }

    .content{
        position: relative;
        top: 11%;
    }
    .nav-bar{
        height: 6vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 25px;
    }

    

    .img-logo{
        width: 55px;
        left: 0;
    }

    .btn-signin{
        left: 0;
        padding: 2px 5px;
        font-size: 10px;
        top: 10%;
    }

    

    .content-head h1{
        font-size: 16px;
        font-weight: 800;
        text-align:center;
    }

    .content-head .para1,.para2{
        font-size: 12px;
    }
    .user-data{
        display: flex;
        flex-direction: row;
        position: relative;
        padding-top: 10%;
    }
    .input-email{
        width: 75%;
        padding: 5px 4px;
        left: 18%;
    }

    .btn-email{
        width: 76%;
        padding: 2px 0px;
        top: 10%;
        margin-top: 8px;
        font-size: 12px;
        left: 18%;
    }

    /* .input-email{
        width: 12%;
        padding: 5px 6px;
        display: block;
        background-color: #ff1e1e;
        position: relative;
        z-index: 500;
        
    } */

        /* .btn-email{
            top: 5%;
            display: block;
            padding: 0px 0px;
            width: 65%;
            left: 18%;
        } */
}

